@page
@model Inven.Pages.Stores.CreateStoreModel
@{
}

<h1>Create Store</h1>
<div>Store Name : </div>
<input type="name" class="form-control"  name="storename" />
<div>Address : </div>
<input type="address" class="form-control" name="address" />
<div>Store Type : </div>
<input type="storetype" class="form-control" name="storetype" />
<button class="submit" >Save</button>
<a asp-page="./StoreList" class="btn btn-default">All Stores</a>
<br />

