@page "{storeId:int}"
@model Inven.Pages.Stores.ProductListModel;
@{
}


<h1>Products</h1>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <a class="store-link" asp-page="./ProductList" asp-route-storeId="@product.StoreId">@product.ProductName</a>
            </td>
            <td>@product.ProductPrice</td>
            <td>@product.Quantity</td>

        </tr>
    }
</table>
